.box1{
  /* background: radial-gradient(circle closest-corner, #d15ca4, #DCD6F7 ); */
  background: linear-gradient(210deg, #a6b1e1 30%, #dcd6f7 60%);
  width: 200px;
  height: 200px;
  border-radius: 15px;
  text-align: center;

  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.box1img{
    height: 200px;
    width: 300px;
    background: linear-gradient(195deg, #a6b1e1 30%, #dcd6f7 60%);
    position: absolute;
    left: 350px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #7b2869;
    border-radius: 20px;
    animation-name: pulse1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.box2img{
    height: 200px;
    width: 300px;
    background: linear-gradient(195deg, #a6b1e1 30%, #dcd6f7 60%);
    position: absolute;
    left: 350px;
    top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #7b2869;
    border-radius: 20px;
    animation-name: pulse1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.box3img{
    height: 200px;
    width: 300px;
    background: linear-gradient(195deg, #a6b1e1 30%, #dcd6f7 60%);
    position: absolute;
    left: 900px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #7b2869;
    border-radius: 20px;
    animation-name: pulse1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.box4img{
    height: 200px;
    width: 300px;
    background: linear-gradient(195deg, #a6b1e1 30%, #dcd6f7 60%);
    position: absolute;
    left: 900px;
    top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #7b2869;
    border-radius: 20px;
    animation-name: pulse1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
a {
  text-decoration: none;
}

.f1 {
  font-size: 30px;
  color: #7b2869;
}
